@mixin textStyle($fs, $line-height, $color, $letter-spacing) {
    font-size: $fs;
    line-height: $line-height;
    color: $color;
    letter-spacing: $letter-spacing;
}

@mixin buttonStyle($bg, $border-color, $border-radius, $pd, $bg-hover) {
    background: $bg;
    border-color: $border-color;
    border-radius: $border-radius;
    padding: $pd;
    &:hover {
        background: $bg-hover;
    }
}

@mixin contentStyle($pd, $bg, $box-shadow, $border-radius, $mg) {
    padding: $pd;
    background: $bg;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin-top: $mg;
}

@mixin imgStyle($width, $height, $border-radius) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
}

@mixin screen($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}