// FONT-SIZE
$fs-body: 15px;
$fs-h1: 26px;
$fs-h2: 22px;
$fs-h3: 16px;
$fs-h4: 13px;


// COLOR
$color-button-blue: #0079FF;
$color-button-blue-hover: #60ABFF;

$color-light-mode-1: #697C9A;
$color-light-mode-2: #4B6A9B;
$color-light-mode-3: #2B3442;
$color-light-mode-4: #F6F8FF;
$color-light-mode-5: #FEFEFE;

$color-white: #FFFFFF;
$color-dark-mode-1: #141D2F;
$color-dark-mode-2: #1E2A47;
$color-dark-mode-3: #90a4d4;

$color-text-h1: #222731;
$color-text-h4: #697C9A;

$color-error-red: #f74646;

// LINEHEIGHT
$line-height-body: 25px;
$line-height-h1: 38px;
$line-height-h2: 33px;
$line-height-h3: 24px;
$line-height-h4: 20px;

// LETTER-SPACING
$letter-spacing-body: 0;
$letter-spacing-h1: 0;
$letter-spacing-h4: 2.5px;

// WIDTH
$width-desktop: 730px;
$width-mobile: 450px;
$width-img: 117px;
$width-img-mobile: 70px;
$width-icon: 20px;

// HEIGHT
$height-img: 117px;
$height-img-mobile: 70px;

// MARGIN
$margin-1: 144px;
$margin-2: 16px;
$margin-3: 36px;
$margin-4: 45px;
$margin-5: 24px;
$margin-6: 3px;

// PADDING
$padding-button: 12.5px 23px 13.5px 24px;
$padding-button-mobile: 12px 14px 12px 18px;
$padding-content-form: 9px 10px 9px 20px;
$padding-content-form-mobile: 6.5px 7px 7.5px 4px;
$padding-content-number: 15px 85px 17px 32px;
$padding-content: 48px;
$padding-content-tablet: 40px;
$padding-content-mobile: 32px 24px 33px 24px;

// BORDER-RADIUS
$border-radius-button: 10px;
$border-radius-content: 15px;
$border-radius-img: 50%;

// BOX-SHADOW
$box-shadow-content: 0 16px 30px -10px rgba(70, 96, 187, 0.2);

// BREAKPOINTS
$breakpoints: (
    "sm": "screen and (max-width: 576px)",
    "md": "screen and (max-width: 768px)",
    "lg": "screen and (max-width: 992px)",
    "xl": "screen and (max-width: 1200px)"
);