#contentMiddle {
    &.content-numbers {
        @include contentStyle($padding-content-number, $color-light-mode-4, none, $border-radius-button, $margin-3 - 4);
        h4 {
            @include textStyle($fs-h4, $line-height-h4, $color-light-mode-2, $letter-spacing-body);
        }
    }

    @include screen(md) {
        &.content-numbers {
            margin-top: $margin-5 - 1;
        }
    }
}