#contentBottom {
    &.content-links {
        margin-top: $margin-3 + 1;
        color: $color-light-mode-2;
        .link {
            margin-bottom: $margin-2 - 1;
            word-break: break-all;
            &.link-bottom {
                margin-bottom: 0;
            }
            svg {
                width: $width-icon;
            }
            .noAvailableLink {
                color: $color-light-mode-4;
            }
        }
        a {
            color: $color-light-mode-2;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        a, span {
            margin-left: $margin-2;
            font-size: $fs-body;
            letter-spacing: 0;
        }
    }

    @include screen(md) {
        &.content-links {
            margin-top: $margin-5;
            .link {
                &.link-bottom {
                    margin-bottom: $margin-2 - 1;
                }
            }
            a, span {
                font-size: $fs-h4;
            }
        }
    }
}