#content {
    @include contentStyle(
        $padding-content,
        $color-light-mode-5,
        $box-shadow-content,
        $border-radius-content,
        $margin-5
    );

    @include screen(lg) {
        padding: $padding-content-tablet;
    }

    @include screen(md) {
        padding: $padding-content-mobile;
    }
}
