#contentTop {
    .content-avatar {
        img {
            @include imgStyle($width-img, $height-img, $border-radius-img);
        }
    }
    .content-left {
        h1 {
            color: $color-light-mode-3;
        }
        h3 {
            margin-top: $margin-6;
        }
    }
    .content-right {
        p {
            margin-top: $margin-6 + 1;
            color: $color-light-mode-1;
        }
    }
    .content-bio {
        color: $color-light-mode-2;
        margin-top: $margin-2 + 4;
    }

    @include screen(lg) {
        .content-bio {
            margin-top: $margin-5;
        }
    }

    @include screen(md) {
        .content-avatar {
            img {
                @include imgStyle($width-img-mobile, $height-img-mobile, $border-radius-img);
            }
        }
        .content-left {
            h1 {
                font-size: $fs-h3;
                line-height: $line-height-h3;
            }
            h3 {
                font-size: $fs-h4;
                line-height: $line-height-h3 - 2;
                margin-top: 0;
            }
        }
        .content-right {
            p {
                @include textStyle($fs-h4, $line-height-h3 - 2, $color-light-mode-1, $letter-spacing-body);
            }
        }
        .content-bio {
            font-size: $fs-h4;
            margin-top: $margin-3 - 3;
        }
    }
}