.header {
    h4 {
        &:hover {
            color: $color-text-h1;
            cursor: pointer;
            svg {
                path {
                    fill: $color-text-h1;
                }
            }
        }
    }
    svg {
        margin-left: $margin-2;
    }
}