#searchForm {
    @include textStyle($fs-h3 + 2, $line-height-body, $color-text-h1, $letter-spacing-body);
    @include contentStyle(
        $padding-content-form,
        $color-light-mode-5,
        $box-shadow-content,
        $border-radius-content,
        $margin-3
    );
    .input-group {
        .input-group-text {
            background: transparent;
            border: none;
        }
        input::placeholder {
            color: $color-light-mode-2;
        }
        .form-control {
            border: none;
            &:focus {
                box-shadow: none;
            }
        }
        .input-error {
            @include textStyle($fs-body, $line-height-body - 3, $color-error-red, $letter-spacing-body);
            margin-right: $margin-4;
        }
        #btn-search {
            @include buttonStyle(
                $color-button-blue,
                transparent,
                $border-radius-button,
                $padding-button,
                $color-button-blue-hover
            );
            @include textStyle($fs-h3, $line-height-body - 1, $color-white, $letter-spacing-body);
        }
    }
    
    @include screen(md) {
        padding: $padding-content-form-mobile;
        .input-group {
            .input-error {
                margin-right: $margin-5 + 1;
                font-size: $fs-h4;
            }
        
            #btn-search {
                padding: $padding-button-mobile;
                font-size: $fs-body - 1;
                line-height: $line-height-h4 + 1;
            }
        }
    }
}