@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: $color-light-mode-4;
    @include textStyle($fs-body, $line-height-body, $color-light-mode-3, $letter-spacing-body);
}

h1, h2, h3, h4, p {
    margin-bottom: 0;
}

h1 {
    @include textStyle($fs-h1, $line-height-h1, $color-text-h1, $letter-spacing-h1);
}

h2 {
    @include textStyle($fs-h2, $line-height-h2, $color-light-mode-3, 0);
}

h3 {
    @include textStyle($fs-h3, $line-height-h3, $color-button-blue, 0);
}

h4 {
    @include textStyle($fs-h4, $line-height-h4, $color-text-h4, $letter-spacing-h4);
}