.dark-mode {
    #contentBottom {
        &.content-links {
            color: $color-white;
            .link {
                svg {
                    path {
                        fill: $color-white;
                    }
                }
                .noAvailableLink {
                    color: $color-light-mode-1;
                }
            }
            a {
                color: $color-white;
            }
        }
    }
}