.dark-mode {
    #contentTop {
        .content-left {
            h1 {
                color: $color-white;
            }
            h3 {
                color: $color-button-blue;
            }
        }
        .content-right {
            p {
                color: $color-white;
            }
        }
        .content-bio {
            color: $color-white;
        }
    }
}
