.dark-mode {
    .header {
        h4 {
            svg {
                path {
                    fill: $color-white;
                }
            }
            &:hover {
                color: $color-dark-mode-3;
                svg {
                    path {
                        fill: $color-dark-mode-3;
                    }
                }
            }
        }
    }
}
