.dark-mode {
    #searchForm {
        background-color: $color-dark-mode-2;
        box-shadow: none;
        .input-group {
            input::placeholder {
                color: $color-white;
            }
            .form-control {
                background-color: transparent;
                color: $color-white;
            }
        }
    }
}
