@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #F6F8FF;
  font-size: 15px;
  line-height: 25px;
  color: #2B3442;
  letter-spacing: 0;
}

h1, h2, h3, h4, p {
  margin-bottom: 0;
}

h1 {
  font-size: 26px;
  line-height: 38px;
  color: #222731;
  letter-spacing: 0;
}

h2 {
  font-size: 22px;
  line-height: 33px;
  color: #2B3442;
  letter-spacing: 0;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  color: #0079FF;
  letter-spacing: 0;
}

h4 {
  font-size: 13px;
  line-height: 20px;
  color: #697C9A;
  letter-spacing: 2.5px;
}

.devfinder {
  max-width: 730px;
  height: 100vh;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .devfinder {
    max-width: 450px;
  }
}

.header h4:hover {
  color: #222731;
  cursor: pointer;
}

.header h4:hover svg path {
  fill: #222731;
}

.header svg {
  margin-left: 16px;
}

#searchForm {
  font-size: 18px;
  line-height: 25px;
  color: #222731;
  letter-spacing: 0;
  padding: 9px 10px 9px 20px;
  background: #FEFEFE;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  border-radius: 15px;
  margin-top: 36px;
}

#searchForm .input-group .input-group-text {
  background: transparent;
  border: none;
}

#searchForm .input-group input::placeholder {
  color: #4B6A9B;
}

#searchForm .input-group .form-control {
  border: none;
}

#searchForm .input-group .form-control:focus {
  box-shadow: none;
}

#searchForm .input-group .input-error {
  font-size: 15px;
  line-height: 22px;
  color: #f74646;
  letter-spacing: 0;
  margin-right: 45px;
}

#searchForm .input-group #btn-search {
  background: #0079FF;
  border-color: transparent;
  border-radius: 10px;
  padding: 12.5px 23px 13.5px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
}

#searchForm .input-group #btn-search:hover {
  background: #60ABFF;
}

@media screen and (max-width: 768px) {
  #searchForm {
    padding: 6.5px 7px 7.5px 4px;
  }
  #searchForm .input-group .input-error {
    margin-right: 25px;
    font-size: 13px;
  }
  #searchForm .input-group #btn-search {
    padding: 12px 14px 12px 18px;
    font-size: 14px;
    line-height: 21px;
  }
}

#content {
  padding: 48px;
  background: #FEFEFE;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  border-radius: 15px;
  margin-top: 24px;
}

@media screen and (max-width: 992px) {
  #content {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  #content {
    padding: 32px 24px 33px 24px;
  }
}

#contentTop .content-avatar img {
  width: 117px;
  height: 117px;
  border-radius: 50%;
}

#contentTop .content-left h1 {
  color: #2B3442;
}

#contentTop .content-left h3 {
  margin-top: 3px;
}

#contentTop .content-right p {
  margin-top: 4px;
  color: #697C9A;
}

#contentTop .content-bio {
  color: #4B6A9B;
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  #contentTop .content-bio {
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  #contentTop .content-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  #contentTop .content-left h1 {
    font-size: 16px;
    line-height: 24px;
  }
  #contentTop .content-left h3 {
    font-size: 13px;
    line-height: 22px;
    margin-top: 0;
  }
  #contentTop .content-right p {
    font-size: 13px;
    line-height: 22px;
    color: #697C9A;
    letter-spacing: 0;
  }
  #contentTop .content-bio {
    font-size: 13px;
    margin-top: 33px;
  }
}

#contentMiddle.content-numbers {
  padding: 15px 85px 17px 32px;
  background: #F6F8FF;
  box-shadow: none;
  border-radius: 10px;
  margin-top: 32px;
}

#contentMiddle.content-numbers h4 {
  font-size: 13px;
  line-height: 20px;
  color: #4B6A9B;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  #contentMiddle.content-numbers {
    margin-top: 23px;
  }
}

#contentBottom.content-links {
  margin-top: 37px;
  color: #4B6A9B;
}

#contentBottom.content-links .link {
  margin-bottom: 15px;
  word-break: break-all;
}

#contentBottom.content-links .link.link-bottom {
  margin-bottom: 0;
}

#contentBottom.content-links .link svg {
  width: 20px;
}

#contentBottom.content-links .link .noAvailableLink {
  color: #F6F8FF;
}

#contentBottom.content-links a {
  color: #4B6A9B;
  text-decoration: none;
}

#contentBottom.content-links a:hover {
  text-decoration: underline;
}

#contentBottom.content-links a, #contentBottom.content-links span {
  margin-left: 16px;
  font-size: 15px;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  #contentBottom.content-links {
    margin-top: 24px;
  }
  #contentBottom.content-links .link.link-bottom {
    margin-bottom: 15px;
  }
  #contentBottom.content-links a, #contentBottom.content-links span {
    font-size: 13px;
  }
}

body.dark-mode {
  background-color: #141D2F;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4 {
  color: #FFFFFF;
}

.dark-mode .header h4 svg path {
  fill: #FFFFFF;
}

.dark-mode .header h4:hover {
  color: #90a4d4;
}

.dark-mode .header h4:hover svg path {
  fill: #90a4d4;
}

.dark-mode #searchForm {
  background-color: #1E2A47;
  box-shadow: none;
}

.dark-mode #searchForm .input-group input::placeholder {
  color: #FFFFFF;
}

.dark-mode #searchForm .input-group .form-control {
  background-color: transparent;
  color: #FFFFFF;
}

.dark-mode #content {
  background-color: #1E2A47;
  box-shadow: none;
}

.dark-mode #contentTop .content-left h1 {
  color: #FFFFFF;
}

.dark-mode #contentTop .content-left h3 {
  color: #0079FF;
}

.dark-mode #contentTop .content-right p {
  color: #FFFFFF;
}

.dark-mode #contentTop .content-bio {
  color: #FFFFFF;
}

.dark-mode #contentMiddle.content-numbers {
  background-color: #141D2F;
}

.dark-mode #contentMiddle.content-numbers h4 {
  color: #FFFFFF;
}

.dark-mode #contentBottom.content-links {
  color: #FFFFFF;
}

.dark-mode #contentBottom.content-links .link svg path {
  fill: #FFFFFF;
}

.dark-mode #contentBottom.content-links .link .noAvailableLink {
  color: #697C9A;
}

.dark-mode #contentBottom.content-links a {
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */